
body {
	margin: 0px;
	padding: 0px;
	clear:both;

	//-webkit-user-select: none;

	min-width: 500px;
	min-height: 400px;

	background-color:rgba(27, 27, 27, 0.98);
	color: #fff;

	font-family: 'Fira Sans','Helvetica','Arial';
}

.hidden {
	display: none;
}

@font-face {
  font-family: 'Fira Sans';
  font-style: normal;
  font-weight: normal;
  src: local('Fira Sans'), url('fonts/FiraSans-Book.otf') format('opentype');
}
@font-face {
  font-family: 'Fira Sans';
  font-weight: bold;
  src: local('Fira Sans'), url('fonts/FiraSans-Bold.otf') format('opentype');
}
@font-face {
  font-family: 'Fira Sans';
  font-weight: lighter;
  src: local('Fira Sans'), url('fonts/FiraSans-Light.otf') format('opentype');
}

/*---------------------
Movie details
----------------------*/

.topDiv {
	display: inline-block;
	height: 90%;
	width: 95%;
	padding: 20px;
	background-color: #EBEBEB;
	color: rgba(27, 27, 27, 0.98);
	overflow: auto;
}

.topDivFree {
	padding: 0px;
}

.topDivBanner {
	width: 100%;
	height: 100%;
	top:0px;
	background-position: top left;
	height: 445px;
	margin-top: -10px;
	background-color: white;
	background-repeat: no-repeat;
}

.bunnerOverlay {
	width: auto;
	height: 100%;
	background-color: rgba(27, 27, 27,.75);
	color:#EBEBEB;
	position: relative;
	float:left;
	margin:0px 0px 0px 300px;
}

.topDivText {
	font-weight: normal;
	margin: 10px 30px;
	font-size: 17px;
	line-height: 25px;
	height: 25px;
	width: inherit;
	position: absolute;
	display: inline-block!important;
}

.topDivDes {
	width: 90%;
	margin: 10px auto;
	text-align: justify;
	position: relative;
}

.movieOverlayEx {
	margin-top: 20px;
	margin-bottom: 20px;
	width: 90%;
	display: inline-block;
}

.showLeft {
	float:left;
	text-align: left;
}

.showRight {
	float:right;
	text-align: right;
}

/*-----------------------

-------------------------*/
a {
	color: inherit;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
	cursor: pointer;

}
.asimple:hover {
	text-decoration: none;
}

#sidebar {
	height: 100%;
	width: 90px;
	left:0px;
	top: 0px;
	position: fixed;
	background-color: #EBEBEB;
	color: rgba(27, 27, 27, 0.98);

	overflow: hidden;

}
#container {
	position: relative;
	height: 100%;
}
#logo {
	display: block;
	margin: 5px auto;
	margin-top: 15px;
	height: 32px;
	width: 32px;
	font-weight: lighter;
}


#sidebar h2{
	font-size: 20px;
	font-weight: lighter;
	text-align: center;
	margin-top: 0px;
	margin-bottom: 40px;
}
.seperator {
	width: 80%;
	margin: 10px auto;
	height: 1px;
	background-color: rgba(27, 27, 27, 0.98);
}


.icon {
	font-size: 28px;
	text-align: center;
	display: block;
}
.iconImage {
	width: 28px; height: 28px;
	display: block;
	margin: 0px auto;
	margin-top: 10px;
}
.iconDes {
	margin-top: 5px;
	font-weight: 10px;
	text-align: center;
	font-weight: lighter;
}

#bottomControll {
	position: absolute;
	bottom: 15px;
	width: 100%;
}
#bottomControll span:hover {
	cursor: pointer;
}
.iconSpinning {
	-webkit-animation:spin 2s linear infinite;
}
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }




.searchBar {
	position: absolute;
	left:50%;
	top: -50px;
	height: 50px;
	width:400px;

	margin-left: -170px;
	padding:0px 20px;

	background-color: #EBEBEB;
	color: rgba(27, 27, 27, 0.98);
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	transition:.2s;

	z-index: 20;
}

.showSearchBar {
	top:0px!important;
}


#searchInput {
	width: 380px;
	height: 100%;


	border: 0px;
	outline: 0px;
	padding: 0px 0px;
	background-color: inherit;
	font-size: 20px;
}
.searchClear {
	width: 20px;
	line-height: 25px;
	font-size: 25px;

	position: absolute;
	right: 10px;
	top:12px;

	color: #d94336;

	cursor: pointer;
}



#content {
	padding: 20px;
	height: 100%;
	position: absolute;
}



.contentHeader {
	margin-left: 15px;
	font-size: 30px;
	font-weight: lighter;
	width: 90%;
	border-bottom: 1px solid white;
	padding-top: 20px;

}

.details {
	width: auto;
	height: auto;
	margin: 20px 20px;
	display: inline-block;
	overflow: hidden;
}

.notClickable {
	cursor: default;
}

.imageOverlay:before {
	overflow: hidden;
	content: "";
    text-align: center;
    position:absolute;
    width:100%; height:100%;
    left:0; top:0;
    background:rgba(0,0,0,0.9);
    opacity:0;
    transition: all .3s;
    -webkit-transition: all .3s;
}

.imageOverlay:hover:before {
    opacity:1;
   	width: 159px;
 	height:100%;

    font-family: FontAwesome;
    content:"\f058";
    color: white;
    text-align: center;
    font-size: 60px;
    line-height: 235px;
}

.imageOverlaySimple:before {
	background:transparent;
}
.imageOverlaySimple:hover:before {
	content:"\f06e";
	font-size: 75px;
}

.searchOverlay:hover:before {
		content:"\f002";
		font-size: 60px;
		padding-right: 5px;
}

.coverImage {
  height: 297px;
	width: 200px;
	border-style: solid;
	border-color: black;
	border-width: 1px;
	display: inline-block;
	background-image: url("blank.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.placeholder {
	height: 320px;
	width: 200px;
	display: block;
	position: relative;
	overflow: hidden;
	cursor: pointer;
}

.item {
	height: 334px;
	width: 224px;
	margin: 15px 10px;
	display: inline-block;
	float: left;
	position:relative;
	overflow: hidden;
}

.item img {
	border-style: solid;
	border-color: white;
	border-width: 5px;
	display: inline-block;
	max-height: 225px;
	width: 150px;
}
.item p {
	font-size: 13px;
	line-height: 16px;
	text-align: center;
}

.detailsImagePlaceholder {
	height: 445px;
	width: 300px;
	display: inline-block;
	position: absolute;
}

.detailsCoverImage {
	height: 445px;
	width: 300px;
	background-image: url("blank.png");
}

.banner {
	width: 100%;
	height: 80px;
	background-color: white;
	position: absolute;
	top:60%;
	margin-top: -80px;
}
.banner h3 {
	line-height: 60px;
	font-size: 40px;
	font-weight: bold;
	color: black;
	margin: 0px;
	text-align: center;
}
.banner p {
	line-height: 15px;
	font-size: 18px;
	color: black;
	text-align: center;
	font-weight: lighter;
	margin: 0px;
}

.topDivBanner h1{
	margin: 20px 20px;
	padding-top: 25px;
	font-size: 45px;

	line-height: 50px;
	max-height: 100px;
	overflow: hidden;
}

.topDivBanner h5 {
	margin: 15px 30px;
	font-size: 20px;
	line-height: 25px;
	overflow: hidden;
}

.confirmBunner {
	display: ;
	width: 100%;
	height: 110px;
	margin-top: -80px;
	top:50%;
	background-color: white;
	position: absolute;
}

.topDiv h2 {
	border-bottom: 1px solid rgba(27, 27, 27, 0.98);
	width: 90%;
	font-weight: lighter;
	font-size: 25px;
	margin-top: 20px;
}

.topDivBannerSmaller {
	height: 250px;
}


.bunnerOverlayDarker {
	background-color: rgba(27, 27, 27,.8);
}

.leftItem {
	text-align: left;
	left: 5px;
}

.rightItem {
	text-align: right;
	right: 5px;
	text-decoration: underline;
}

.titleText {
	font-weight: normal;
	font-size: 14px!important;
	margin: -15px 1px;
	text-align: left!important;
	left: 1px;
	position: absolute!important;
	display: block!important;
	width: inherit;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.infoText {
	font-weight: normal;
	font-size: 13px;
	color: gray;
	margin: 1px 1px;
	line-height: 1px;
  height: 20px;
	position: absolute;
	display: inline-block;
}

.leftInfoItem {
	text-align: left;
	left: 1px;
}

.rightInfoItem {
	text-align: right;
	right: 25px;
}

.centerInfoItem {
	text-align: center;
}

#movieMore {
	bottom: 30px;
}
#movieLength {
	bottom: 5px;
}
#movieIMDB {
	bottom: 30px;
}
#movieYT {
	bottom: 5px;
}

#overlaySettings h2{
margin-top: 10px;
font-weight: normal;
}

#overlaySettings input {
	margin-bottom: 15px;
}

#overlaySettings h4 {
	line-height: 100%;
	margin: 20px 0px;
	font-weight: 400;
	font-size: 1.1em;
}


.topDivError {
	height: auto;
	width: 500px;
	background-color: #FF2D55;
	color: #fff;
}



.input {
	display: inline-block;

	margin: 0px 20px;
	margin-bottom: 20px;

	width: 320px;
	padding: 8px;
	outline: 0px;

	font-size: 15px;
	border-width:1px;
	border-style: solid;
	border-radius: 2px;

	border-color: rgba(27, 27, 27, 0.98);
	background-color: #EBEBEB;
}

.button {
	width: 120px;
	background-color: rgba(27, 27, 27, 0.98);
	color: #EBEBEB;
}
.button:active {
	color: inherit;
	background-color: #EBEBEB;
}





/*-----------lookup----------*/
#inputLookupUnknown {
	width: 380px;
	height: 20px;
	padding: 15px;

	display: block;
	margin: 0px auto;
	margin-top: -20px;
	margin-bottom: 20px;
	top: 0px;

	background-color:rgba(27, 27, 27, 0.98);
	color: #EBEBEB;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;

	border: 0px;
	outline: 0px;

	font-size: 20px;
}
#lookupResult h4 {
	text-align: center;
}

.spinner {
  width: 30px;
  height: 30px;
  border-radius: 30px;
  background-color: #333;

  margin: 50px auto;

  	  -webkit-animation: rotateplane 1.2s infinite ease-in-out;
  animation: rotateplane 1.2s infinite ease-in-out;

}
.spinning {

}

@-webkit-keyframes rotateplane {
  0% { -webkit-transform: perspective(120px);   background-color:#FF2D55;}
  50% { -webkit-transform: perspective(120px) rotateY(180deg); }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
  } 50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
  } 100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}





.cmn-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}
.cmn-toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  user-select: none;
}
input.cmn-toggle-round + label {
	margin-left: 20px;
	margin-bottom: 30px;
	padding: 2px;
	width: 90px;
	height: 26px;
	background-color: #dddddd;
	border-width:1px;
	border-radius: 2px;
	border-style: solid;
	border-color: rgba(27, 27, 27, 0.98);
}
input.cmn-toggle-round + label:before,
input.cmn-toggle-round + label:after {
  display: block;
  position: absolute;
  top: 1px;
  left: 1px;
  bottom: 1px;
  content: "";
}
input.cmn-toggle-round + label:before {
  right: 1px;
  background-color: #EBEBEB;
  transition: background 0.4s;
}
input.cmn-toggle-round + label:after {
  width: 45px;
  content: "ON";
  text-align: center;
  line-height: 32px;
  color: #EBEBEB;
  background-color: rgba(27, 27, 27, 0.98);
  transition: margin 0.4s;
}
input.cmn-toggle-round:checked + label:before {
  background-color:#EBEBEB;
}
input.cmn-toggle-round:checked + label:after {
  margin-left: 47px;
  content: "OFF";
}

/*
Navigation bar
*/
nav ul {
    display: block;
    position: relative;
	list-style: none;
    margin: 0;
    padding: 0;
    border-radius: 5px;
    z-index: 5001;
}

nav ul li {
    display: list-item;
    float: left;
    list-style: none;
    background-color: #0c3f61;
}

nav ul li a {
    display: block;
	text-decoration: none;
    padding: 10px 19px;
    color: #ffffff;
}

nav li a:hover {
	opacity: 0.9;
}

nav ul ul {
    display: none;				/* Hide Dropdowns by Default */
    position: absolute;
    top: 42px;
}

nav ul li:hover > ul {
    display: list-item;			/* Display Dropdowns on Hover */
}

nav ul ul li {
    position: relative;			/* Menu Dropdown */
    float: none;
    width: 140px;
}

nav ul ul ul li {
    position: absolute relative; /* Sub Menu Dropdown */
    top: -42px;
    left: 140px;
}

ul li > a:after {
	content: '  \25BE';			/* Dropdown Menu Symbol Down */
}

ul ul li > a:after {
	content: '  \25B8';			/* Dropdown Sub Menu Symbol Right */
}

nav li > a:only-child:after {
	content: '';
}


nav ul li:first-of-type {
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

nav ul li:last-of-type {
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

nav ul ul li:first-of-type {
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
}

nav ul ul li:last-of-type {
	border-top-right-radius: 0px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

nav ul ul ul li:first-of-type {
	border-top-right-radius: 5px;
}

nav ul ul ul li:last-of-type {
	border-top-right-radius: 0px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}
/*

*/

::-webkit-scrollbar {
    width: 13px;
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

::-webkit-scrollbar-thumb {
	background-color: #8c8c8c;
}
::-webkit-scrollbar-thumb:active {
	background-color: #6b6b6b;
}
