<nav>
    <ul>
        <li><a onclick="goPage('new')">Movies: New</a></li>
        <li><a onclick="goPopPage('24HOURS')">Movies: Popular</a>
        <ul>
            <li><a onclick="goPopPage('24HOURS')"	>Last day</a></li>
			<li><a onclick="goPopPage('1WEEK')"		>Last week</a></li>
            <li><a onclick="goPopPage('1MONTH')"	>Last month</a></li>
			<li><a onclick="goPopPage('1YEAR')"		>Last year</a></li>
            <li><a onclick="goPopPage('99YEARS')"	>All time</a></li>
        </ul>
        </li>
        <li><a href="#">TV Shows</a>
        <ul>
            <li><a href="#">Item 1</a></li>
            <li><a href="#">Item 2</a></li>
            <li><a href="#">Item 3</a></li>
        </ul>
        </li>
        <li><a href="#">About Us</a></li>
    </ul>
</nav>

<div id="content" >

	<span id="movieLibrary_content">
	<!-- content from template movieLibrary.html -->
	</span>

	<br style="clear:both">

	<div class="topDiv topDivFree" id="overlayMovie">
	<!-- content from template movieDetails.html -->
	</div>

</div>
