<nav>
    <ul>
        <li><a onclick="goTlNewPage()">TorretLeech</a>
        <ul>
          <li><a onclick="goTlNewPage()">New</a></li>
          <li><a onclick="goTlPopPage('24HOURS')">Popular</a>
          <ul>
              <li><a onclick="goTlPopPage('24HOURS')">Last day</a></li>
  			      <li><a onclick="goTlPopPage('14DAYS')">Last week</a></li>
              <li><a onclick="goTlPopPage('1MONTH')">Last month</a></li>
              <li><a onclick="goTlPopPage('1YEAR')">Last year</a></li>
              <li><a onclick="goTlPopPage('99YEARS')">All time</a></li>
          </ul>
          </li>
        </ul>
        </li>
        <li><a onclick="goIptNewPage()">IPTorrents</a>
        <ul>
          <li><a onclick="goIptNewPage()">New</a></li>
          <li><a onclick="goTlPopPage('24HOURS')">!!Popular</a>
          <ul>
              <li><a onclick="goTlPopPage('24HOURS')">!!Last day</a></li>
          </ul>
          </li>
        </ul>
        </li>
        <li><a href="#">TV Shows</a>
        <ul>
            <li><a href="#">Item 1</a></li>
            <li><a href="#">Item 2</a></li>
            <li><a href="#">Item 3</a></li>
        </ul>
        </li>
        <li><a href="#">About Us</a></li>
    </ul>
</nav>

<div id="content" >
	<span id="movieLibrary_content">
	<!-- content from template movieLibrary.html -->
	</span>

	<br style="clear:both">

	<div class="topDiv topDivFree" id="overlayMovie">
	<!-- content from template movieDetails.html -->
	</div>
</div>
