<nav>
    <ul>
        <li><a onclick="goPage('new')">Movies: New</a></li>
        <li><a onclick="goPage('pop2w')">Movies: Popular</a>
        <ul>
            <li><a onclick="goPage('pop24h')"	>24 hrs</a></li>
			<li><a onclick="goPage('pop48h')"	>48 hrs</a></li>
			<li><a onclick="goPage('pop72h')"	>72 hrs</a></li>
			<li><a onclick="goPage('pop1w')"	>1 week</a></li>
            <li><a onclick="goPage('pop2w')"	>2 weeks</a></li>
            <li><a onclick="goPage('popAll')"	>All time</a></li>
        </ul>
        </li>
        <li><a href="#">TV Shows</a>
        <ul>
            <li><a href="#">Item 1</a></li>
            <li><a href="#">Item 2</a></li>
            <li><a href="#">Item 3</a></li>
        </ul>
        </li>
        <li><a href="#">About Us</a></li>
    </ul>
</nav>

<div id="content" >

	<span id="movieLibrary_content">
	<!-- content from template movieLibrary.html -->
	</span>

	<br style="clear:both">

	<div class="topDiv topDivFree" id="overlayMovie">
	<!-- content from template movieDetails.html -->
	</div>

</div>
